# Prerequisites
node_modules/
dist/
build/
out/

# Environment variables and secrets
.env
.env.local
*.pem

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo

# Operating System files
.DS_Store
Thumbs.db
